FIREBASE_CREDENTIALS_PATH=/absolute/path/to/firebase-service-account.json
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SCHEMA_REGISTRY_URL=http://localhost:8081
REDIS_HOST=localhost
REDIS_PORT=6379
POSTGRES_URL=jdbc:postgresql://localhost:5433/eventpulse
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
